<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Exports | Dashboard</title>
    <base href="/"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/resets.css">
    <link rel="stylesheet" href="/css/dashboard.css">
  </head>

  <body>
    <exports-app>Loading App...</exports-app>
  </body>

  <script src="lib/es6-shim.js"></script>
  <script src="lib/angular2-polyfills.js"></script>
  <script src="lib/system.src.js"></script>
  <script src="lib/Rx.js"></script>
  <script src="lib/angular2.dev.js"></script>
  <script src="lib/http.dev.js"></script>
  <script src="lib/router.dev.js"></script>
  <script src="lib/angular2-google-maps.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9DD5ZFDdBwR_tY0YQGevHc5UPtzvMyR8&libraries=places"></script>
  <script>
    System.config({
      packages: {
        app: {
          format: 'register',
          defaultExtension: 'js'
        }
      }
    });
    System.import('app/bootstrap.js').then(null, console.error.bind(console));
  </script>

</html>
