<div class="row">

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Products</div>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Nickname</th>
            <th>H.S. Code</th>
            <th>UPC Code</th>
            <th>Unit cost</th>
          </tr>
        </thead>
        <tbody>
          <tr class="list-shipments" (click)="openProductDetail(product)" *ngFor="#product of products">
            <td>{{product.name}}</td>
            <td>{{product.nickname}}</td>
            <td>{{product.hs_code}}</td>
            <td>{{product.upc_code}}</td>
            <td>{{product.unit_cost.amount}}
              {{product.unit_cost.currency}}</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-body" *ngIf="products.length === 0">
        No active products available
      </div>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <button (click)="newProduct()" class="btn btn-default">New Product</button>
      </div>
    </div>
  </div>
</div>
