<div class="row">

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Shipment Summary
      </div>
      <ul class="list-group">
        <li class="list-group-item"><span>Name</span><span class="pull-right">{{model.name}}</span>
        <li class="list-group-item"><span>Origin</span><span class="pull-right">{{model.origin}}</span>
        <li class="list-group-item"><span>Destination</span><span class="pull-right">{{model.destination}}</span>
        <li class="list-group-item"><span>Status</span><span class="pull-right">{{model.status}}</span>
        </li>
      </ul>
    </div>
  </div>

</div>
