<div class="row">

  <div class="col-sm-8">
    <form #shipmentForm="ngForm" (ngSubmit)="onSubmit()">

      <div class="panel panel-default">
        <div class="panel-heading">Overview</div>
        <div class="panel-body">
          <div class="form-horizontal">
            <div class="form-group">
              <label for="name" class="col-sm-3 control-label">Shipment Name</label>
              <div class="col-sm-9">
                <input class="form-control" #name="ngForm" [(ngModel)]="model.name" type="text">
              </div>
            </div>

            <div class="form-group">
              <label for="name" class="col-sm-3 control-label">Freight Type</label>
              <div class="col-sm-9">
                <div class="radio">

                  <label>
                    <input type="radio" name="freight_type" [(ngModel)]="model.freight_type" value="option1" checked="">
                    Door to Door (EXW)
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="freight_type" [(ngModel)]="model.freight_type" value="option2">
                    Port to Door (FOB)
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="freight_type" [(ngModel)]="model.freight_type" value="option3">
                    Door to Port (EXW)
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="freight_type" [(ngModel)]="model.freight_type" value="option3">
                    Port to Door (FOB)
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="name" class="col-sm-3 control-label">Freight Method</label>
              <div class="col-sm-9">
                <label class="radio-inline">
                  <input type="radio" name="shipment_method" [(ngModel)]="model.shipment_method" value="option1" checked="">
                  Ocean Freight
                </label>
                <label class="radio-inline">
                  <input type="radio" name="shipment_method" [(ngModel)]="model.shipment_method" value="option2">
                  Air Freight
                </label>
                <label class="radio-inline">
                  <input type="radio" name="shipment_method" [(ngModel)]="model.shipment_method" value="option3">
                  Truck Only
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Origin</div>
        <div class="panel-body">
          <div class="form-horizontal">

            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">Address</label>
              <div class="col-sm-10">
                <input class="form-control" id="origin-address" type="text">
              </div>
            </div>

            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">Street</label>
              <div class="col-sm-5">
                <input class="form-control" #origin_street_number="ngForm" [(ngModel)]="model.origin.street_number" type="text">
              </div>
              <div class="col-sm-5">
                <input class="form-control" #origin_street="ngForm" [(ngModel)]="model.origin.street" type="text">
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">city</label>
              <div class="col-sm-10">
                <input class="form-control" #origin_city="ngForm" [(ngModel)]="model.origin.city" type="text">
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">state</label>
              <div class="col-sm-10">
                <input class="form-control" #origin_state="ngForm" [(ngModel)]="model.origin.state" type="text">
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">postalCode</label>
              <div class="col-sm-10">

                <input class="form-control" #origin_postal_code="ngForm" [(ngModel)]="model.origin.postal_code" type="text">
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">country</label>
              <div class="col-sm-10">
                <input class="form-control" #origin_country="ngForm" [(ngModel)]="model.origin.country" type="text">
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Destination</div>
        <div class="panel-body">
          <div class="form-horizontal">
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">Address</label>
              <div class="col-sm-10"><input class="form-control" id="destination-address" type="text"></div>
            </div>

            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">Street</label>
              <div class="col-sm-5">
                <input class="form-control" #destination_street_number="ngForm" [(ngModel)]="model.destination.street_number" type="text">
              </div>
              <div class="col-sm-5">
                <input class="form-control" #destination_street="ngForm" [(ngModel)]="model.destination.street" type="text">
              </div>
            </div>

            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">city</label>
              <div class="col-sm-10">
                <input class="form-control" #destination_city="ngForm" [(ngModel)]="model.destination.city" type="text">
              </div>
            </div>

            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">state</label>
              <div class="col-sm-10">
                <input class="form-control" #destination_state="ngForm" [(ngModel)]="model.destination.state" type="text">
              </div>
            </div>

            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">postalCode</label>
              <div class="col-sm-10"><input class="form-control" #destination_postal_code="ngForm" [(ngModel)]="model.destination.postal_code" type="text"></div>
            </div>

            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">country</label>
              <div class="col-sm-10"><input class="form-control" #destination_country="ngForm" [(ngModel)]="model.destination.country" type="text"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Products</div>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Nickname</th>
              <th>H.S. Code</th>
              <th>UPC Code</th>
              <th>Unit cost</th>
            </tr>
          </thead>
          <tbody>
            <tr class="list-shipments" (click)="selectProduct(product)" *ngFor="#product of products">
              <td>{{product.name}}</td>
              <td>{{product.nickname}}</td>
              <td>{{product.hs_code}}</td>
              <td>{{product.upc_code}}</td>
              <td>{{product.unit_cost.amount}}
                {{product.unit_cost.currency}}</td>
            </tr>
          </tbody>
        </table>
        <div class="panel-body" *ngIf="products.length === 0">
          No active products available
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Weight</div>
        <div class="panel-body">
          <div class="form-horizontal">

            <div class="form-group">
              <label class="col-sm-2 control-label">Total</label>
              <div class="col-sm-10">
                <input class="form-control" #status="ngForm" [(ngModel)]="model.weight.total" type="number">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Net</label>
              <div class="col-sm-10">
                <input class="form-control" #cargo="ngForm" [(ngModel)]="model.weight.net" type="number">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default shipment__summary">
      <div class="panel-heading">Shipment Summary</div>
      <ul class="list-group">
        <li class="list-group-item">
          Name
          <span class="pull-right bold">{{model.name}}</span>
        </li>
        <li class="list-group-item">
          Origin
          <span class="pull-right bold">{{model.origin.city + ', '}}{{model.origin.country}}</span>
        </li>
        <li class="list-group-item">
          Destination
          <span class="pull-right bold">{{model.destination.city + ', '}}{{model.destination.country}}</span>
        </li>
        <li class="list-group-item">
          departure_date
          <span class="pull-right bold">{{model.departure_date | date:'yMMMMd'}}</span>
        </li>
        <li class="list-group-item">
          arrival_date
          <span class="pull-right bold">{{model.arrival_date | date:'yMMMMd'}}</span>
        </li>
        <li class="list-group-item">
          products
          <ul class="sub-list">
            <li *ngFor="#prod of model.products">
              <span class="pull-right bold">{{prod.name}}</span>
            </li>
          </ul>
        </li>
        <li class="list-group-item">
          Weight (total)
          <span class="pull-right bold">{{model.weight.total}}</span>
        </li>
        <li class="list-group-item">
          Weight (net)
          <span class="pull-right bold">{{model.weight.net}}</span>
        </li>
      </ul>
    </div>

  </div>
