<div class="row">

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Shipment Summary</div>
      <ul class="list-group">
        <li class="list-group-item"><span>Name</span><span class="pull-right">{{product.name}}</span></li>
        <li class="list-group-item"><span>Nickname</span><span class="pull-right">{{product.nickname}}</span></li>
        <li class="list-group-item"><span>H.S. code</span><span class="pull-right">{{product.hs_code}}</span></li>
        <li class="list-group-item"><span>UPC code</span><span class="pull-right">{{product.upc_code}}</span></li>
        <li class="list-group-item"><span>Unit cost</span><span class="pull-right">{{product.unit_cost.amount}}</span></li>
      </ul>
    </div>
  </div>
</div>
