body {
  background: #E5E9EC;
}

.bold {
  font-weight: 900;
}

header.top-header {
  position: absolute;
  left: 240px;
  height: 70px;
  right: 0;
  background: #FFF;
}

.side-nav {
  position: fixed;
  height: 100%;
  width: 240px;
  background: #50585A;
  color: #FFF;
}

.side-nav .logo {
  padding: 25px;
  height: 70px;
  border-bottom: 1px solid #5E6567;
}

.side-nav .nav-component {
  display: block;
  padding: 20px;
  border-bottom: 1px solid #5E6567;
}

.side-nav .nav-component:hover,
.side-nav .nav-component.router-link-active {
  cursor: pointer;
  background: rgba(94, 101, 103, 0.5);
}

.main-content {
  position: relative;
  margin-left: 240px;
  top: 70px;
  padding: 25px;
  background: #E5E9EC;
}


/* shipment list */

.list-shipments {
  height: 44px;
  cursor: pointer;
}

.list-shipments:hover {
  background: #F6F6F6;
  cursor: pointer;
}


/* shipment detail */

#shipment-detail-map {
  height: 300px;
}


/* New shipment */

.new-shipment__section {
  padding: 10px 0 30px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.new-shipment__section h1 {
  padding-bottom: 20px;
}

.form-group label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
