body {
  background: #E5E9EC;
}

header.top-header {
  position: absolute;
  left: 240px;
  height: 70px;
  right: 0;
  background: #FFF;
}

.side-nav {
  position: absolute;
  height: 100%;
  width: 240px;
  background: #50585A;
  color: #FFF;
}

.side-nav .logo {
  padding: 25px;
  height: 70px;
  border-bottom: 1px solid #5E6567;
}

.side-nav .nav-component {
  display: block;
  padding: 20px;
  border-bottom: 1px solid #5E6567;
}

.side-nav .nav-component:hover {
  cursor: pointer;
}

.main-content {
  position: relative;
  margin-left: 240px;
  top: 70px;
  padding: 25px;
  background: #E5E9EC;
}
